
    /* Фоновые цвета */
    $color-bg-light: #f5f7fa;
    $color-bg-dark: #10204A;

    /*Цвет текста */
    $color-text-first: #10204A;   
    $color-text-second: #F0F0F0;    
    $color-text-muted: rgba(17, 34, 80, 0.62); 
    

   /*Кнопки */
    $color-accent: #10204A;       
    $color-text-accent: #FFFFFF; 
    $color-border: #e0e0e0;
    $color-active: #0e328f;

    /*Typography */
    $font-family-title: 'Tektur', sans-serif; /* Шрифт для заголовков */
    $font-family-base: 'Montserrat', sans-serif; /* Шрифт для основного текста */
    $font-family-accent: 'Orbitron', sans-serif; /* Шрифт для акцентного текста */

    $font-size-s:    clamp(1.2rem, 1.5vw, 1.4rem);   // 12px → 14px
    $font-size-m:    clamp(1.5rem, 2vw, 1.8rem);     // 15px → 18px
    $font-size-l:    clamp(1.6rem, 2.5vw, 2rem);     // 16px → 20px
    $font-size-ml:   clamp(1.8rem, 3vw, 2.4rem);     // 18px → 24px

    $font-size-xl:   clamp(2.8rem, 5vw, 4rem);       // 28px → 40px
    $font-size-xl-m: clamp(3.2rem, 6vw, 4.8rem);     // 32px → 48px

    $font-size-2xl:  clamp(3.6rem, 7vw, 6.4rem);     // 36px → 64px
    $font-size-3xl:  clamp(4.8rem, 10vw, 9.6rem);  
    
    

    $container-max-width: 1640px;
    $container-padding-x: 20px;
