.pack {

    margin-top: 20rem;

    &__choice {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        margin-top: 5rem;
    }

    &__block {}

    &__cover {
        height: 615px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        padding: 16px;
    }

    &__name {
        color: #fff;
    }

    &__info {
        margin-top: 5rem;

    }
}

.stands {
    margin-top: 20rem;

    &__item {
        padding: 5rem 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 1px;

            background: $color-accent;
        }

        &.active {
            margin-bottom: 3rem;

            .stands__plus {
                transform: rotate(45deg);
            }

            .stands__content-block {
                max-height: 200px;
                opacity: 1;
                margin-top: 1rem;
            }
        }
    }

    &__stroke {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__plus {
        transition: transform 0.3s ease;
    }

    &__content-block {
        max-height: 0;
        overflow: hidden;
        opacity: 0;

        transition: 0.4s ease;
        margin-top: 0;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;

    }
}

.stand__content-item {
    padding-top: 4rem;
}

.pay {
    margin-top: 20rem;

    &__content {
        display: grid;
        grid-template-columns: 45% 55%;
    }

    &__title {
        max-width: 10ch;
    }

    &__about {
        padding-top: 5rem;
        max-width: 60%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    &__field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
    }

    &__input {
        padding-top: 2rem;
    }

    &__submit {
        @extend %style-button-full-dark;
        font-size: $font-size-xl;
        width: 15rem;
        height: 15rem;
        transform: rotate(-45deg);
        text-align: center;
        align-self: flex-end;

    }
}

.pay__submit {

    font-size: $font-size-xl;
    width: 15rem;
    height: 15rem;
    transform: rotate(-45deg);
    text-align: center;

    align-self: flex-end;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition: color 0.4s ease;
}