.bg-grid {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -10;
  overflow: hidden;
}

.bg-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  
  /* Вертикальные линии под наклоном вправо + горизонтальные прямые */
  background-image:
    /* Вертикальные — наклон вправо */
    repeating-linear-gradient(
      97deg,
      transparent,
      transparent 79px,
      rgba(16, 32, 74, 0.045) 79px,
      rgba(16, 32, 74, 0.045) 80px
    ),
    /* Горизонтальные — прямые */
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 79px,
      rgba(16, 32, 74, 0.045) 79px,
      rgba(16, 32, 74, 0.045) 80px
    );
  
  /* Выпуклый эффект */
  mask-image: radial-gradient(
    ellipse 140% 90% at 50% 50%,
    black 30%,
    transparent 70%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 140% 90% at 50% 50%,
    black 30%,
    transparent 70%
  );
  
  will-change: mask-image;
}



@media (max-width: 900px) {
  .bg-grid::before,
  .bg-grid::after {
    display: none;
  }
}