.bg-grid {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -10;
  overflow: hidden;
}

.bg-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  
  // ★ Квадратики 50×50px
  background-image:
    repeating-linear-gradient(
      97deg,
      transparent,
      transparent 49px,
      rgba(16, 32, 74, 0.045) 49px,
      rgba(16, 32, 74, 0.045) 50px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 49px,
      rgba(16, 32, 74, 0.045) 49px,
      rgba(16, 32, 74, 0.045) 50px
    );
}

@media (max-width: 900px) {
  .bg-grid::before,
  .bg-grid::after {
    display: none;
  }
}