.slider {
  margin-top: 15rem;

  &__header {
    @include flex(flex-start, flex-end);
  }

  &__title {
    max-width: 10ch;
  }

  &__controls {
    @include flex(space-between, flex-end);
    gap: 3rem;
    width: 100%;
  }

  &__navigation {
    display: flex;
    gap: 1rem;
  }

  &__arrow {
    &:hover:not(:disabled) {
      color: $color-text-second;
      background: $color-accent;
      border-color: $color-accent;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
   &__progress {
    width: 100%;
}
  &__progress-bar {
    width: 100%;
    height: 2px;
    background: $color-border; 
    position: relative;
  }

  &__progress-fill {
    height: 100%;
    width: 0%;
    background: $color-accent; 
    transition: width 0.3s ease;
    display: block; 
  }

  &__track-wrapper {
    overflow: hidden;
    margin-top: 5rem;
  }

  &__track {
    display: flex;
    gap: 2rem;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform;
  }

  &__slide {
    flex: 0 0 calc((100% - 4rem) / 3); 

    // ★ Планшеты — 2 слайда ★
    @media (max-width: 1400px) {
      flex: 0 0 calc((100% - 2rem) / 2); 
    }

    // ★ Телефоны — 1 слайд ★
    @media (max-width: 960px) {
      flex: 0 0 100%; 
    }
  }



}



.slider__progress-bar {
    
}

.slider__progress-fill {
    
}