%style-link-overlay {
    font-family: $font-family-title;
    font-weight: 400;
    line-height: 1;
    font-size: $font-size-3xl;
}

%style-logo {

    font-size: $font-size-ml;

}

%style-number-accent {
    font-family: $font-family-accent;
    font-size: $font-size-3xl;
}
%style-button-tr {
    border: none;
    background-color: transparent;
}

%style-button-full {
    border: none;
    background-color: $color-bg-light;
}

%style-button-full-dark {
    border: none;
    background-color: $color-bg-dark;
    color: $color-text-second;
}

%style-button-buy {
    .button-buy {
    @include flex(center);
    @extend %style-button-tr;
    

    &__outer-circle {
         width: clamp(21rem, 20vw, 32rem);   // от 16rem до 32rem
    height: clamp(21rem, 20vw, 32rem);
        flex-shrink: 0;
        border: 1px solid white;
        border-radius: 50%;
        @include flex(center);

    }

    &__inner-circle {
        width: clamp(17rem, 16vw, 25.6rem); // от 12.8rem до 25.6rem
        height: clamp(17rem, 16vw, 25.6rem);
        flex-shrink: 0;
        border: 1px solid white;
        border-radius: 50%;
        @include flex(center);
        transition: transform 0.3s ease;
    }

    &__text {
        color: $color-text-second;
    }
}
}